.form {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 20px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    color: white;
    background-color: darkgrey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.btn:hover {
    background-color: grey;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error {
    color: red;
}