.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link {
    color: #dddddd;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}

.link:hover {
    color: #ffffff;
}

.active {
    border-bottom: 3px solid #dddddd;
    border-radius: 3px;
}