.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
}