.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.name {
    font-weight: 700;
}

.btn {
    padding: 10px;
    color: white;
    background-color: darkgrey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;

}

.btn:hover {
    background-color: grey;
}